.p-item {
    margin: 3px;
}

.card-title {
    font-weight: bold;
}

.card-body {
    padding: 2rem 1rem;
}

.card-item {
    padding: 5px 0;
}

.card {
    width: 148%;
    box-shadow: inset 0 0em 0em rgb(0 0 0 / 10%), 0 0 0 0px white, 0.3em 0.3em 1em rgb(0 0 0 / 30%);
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 9vw;
    object-fit: cover;
}

.app-filter {
    margin: 47px 0px 0px 618px;
}

.input-search {
    width: 395px;
    padding:  16px;
}
.input-group {
    margin-top: 45px;
    margin-left: 22px;
}

.form-control {
    border-left: none;
}

.input-group {
    box-shadow: inset 0 0em 0em rgb(0 0 0 / 10%), 0 0 0 0px white, 0.3em 0.3em 1em rgb(0 0 0 / 30%);
}

.input-group-text {
    background-color: white;
}
