<app-navbar></app-navbar>
<div class="container">
    <app-search></app-search>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2  col-12 m-5" *ngFor="let country of countriesFromRestApi">
            <div class="card" (click)="onPress(country)">
                <img class="card-img-top" src="{{ country.flags.png }}" alt="Countries photo">
                <div class="card-body">
                    <h5 class="card-title">{{country.name.common}}</h5>
                    <div class="card-item">
                        <p class="p-item" *ngFor="let i of item"><b>{{i}}:</b> 15 July</p>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>