<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="container search-input">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-search"></i>
                    </div>
                    <input type="text" class="form-control" (keyup)="onKey($event)"
                        placeholder="Search for a country...">
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let country of countriesFromRestApi">
            <div class="card" (click)="onPress(country)">
                <img class="card-img-top" src="{{ country.flags.png }}" alt="Country photo">
                <div class="card-body">
                    <h5 class="card-title">{{country.name.common != null ? country.name.common : country.name}}</h5>
                    <div class="card-item">
                        <p class="p-item"><b>Population:</b> {{country.population | number: '.2'}}</p>
                        <p class="p-item"><b>Region:</b> {{country.region}}</p>
                        <p class="p-item"><b>Capital:</b> {{country.capital}}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>