<app-navbar></app-navbar>
<div class="container ">
    <div class="row">
        <div class="col-md 6 ">
            <app-search></app-search>
        </div>
        <div class="app-filter col-md 6">
            <app-filter></app-filter>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2  col-12 m-5" *ngFor="let country of countriesFromRestApi">
            <div class="card" (click)="onPress(country)">
                <img class="card-img-top" src="{{ country.flags.png }}" alt="Countries photo">
                <div class="card-body">
                    <h5 class="card-title">{{country.name.common}}</h5>
                    <div class="card-item">
                        <p class="p-item"><b>Population:</b> {{country.population | number: '.2'}}</p>
                        <p class="p-item"><b>Region:</b> {{country.region}}</p>
                        <p class="p-item"><b>Capital:</b> {{country.capital}}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>