@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

nav {
    background: #FFF;
    padding: 0 0px; 
}

a {
    color: #000;
    text-decoration: none;
}

.fa-moon {
    margin: 10px;
}

.section-nav {
    padding: 0px 50px;
    border-bottom: 3px solid #F5F5F5;
}

.menu {
  list-style-type: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 0px 0px;
    padding-top: 10px;
  }

.title-text {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.title-mode {
    font-weight: 500;
    color: #000;
}