<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{obj.flags.png}}" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                    <h4>{{obj.name.common}}</h4>
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    
            </div>
        </div>
    </div>
</div>