<app-navbar></app-navbar>

<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{obj.flags.svg}}" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div>
                    <h4><b>{{obj.name.common}}</b></h4>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><b>Native Name:</b> {{objCountryName[0].nativeName}} </p>
                        <p class="card-text"><b>Population:</b> {{population}}</p>
                        <p class="card-text"><b>Region:</b> {{objCountryName[0].region}} </p>
                        <p class="card-text"><b>Sub Region:</b> {{objCountryName[0].subregion}}</p>
                        <p class="card-text"><b>Capital:</b> {{objCountryName[0].capital}} </p>
                    </div>

                    <div class="col-md-6">
                        <p class="card-text"><b>Top Level Domain:</b> {{objCountryName[0].topLevelDomain}} </p>
                        <p class="card-text"><b>Currencies:</b> {{objCountryName[0].currencies[0].name}} </p>
                        <p class="card-text"><b>Languages:</b> {{objCountryName[0].languages[0].name}} </p>
                    </div>
                </div>

                <!--<div class="chips">
                    <div class="row">
                        <div class="col-md-6">
                            <b>Border Countries:</b>
                        </div>

                        <div class="col-md-6">
                            <span class="badge bg-light text-dark">prova</span>
                            <span class="badge bg-light text-dark">prova</span>
                            <span class="badge bg-light text-dark">prova</span>
                            <span class="badge bg-light text-dark">prova</span>
                        </div>
                    </div>
                </div>
            -->
            </div>
        </div>



    </div>
</div>