.card-img-top {
    width: 535px;
    height: 390px;
}

.container {
    margin-top: 100px;
}

.card {
    border: none;

}

.chips {
    margin-top: 50px;
    font-size: 16px;
}

.text-dark {
    font-size: 16px;
    border: 1px solid #dbd7d7;
}

p {
    margin-top: 16px;
    margin-bottom: -8px;
}

@media screen and (max-width: 600px) {
    .card-img-top {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .card-img-top {
        width: auto;
        height: auto;
    }
  }